@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    string currUrl = Context.Request.HttpContext.Request.Path;
    string title = ViewBag.Title;
    if (currUrl == "/")
    {
        title = "Colibri-Group";
    }
    ViewBag.Title = title;

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pc.css" />
    <link rel="stylesheet" media="(max-width: 1400px)" href="/css/pc-light.min.css" />
    <link rel="stylesheet" media="(max-width: 1023px)" href="/css/mobile.min.css" />


    @RenderSection("head", required: false)

</head>
<body>
    <div class="main">
        <div class="header">
            <div class="logo">
                <a href="/"> <img src="/images/logo.webp" alt="Colibri" /></a>
                <div class="bar" id="bar">
                    <div class="icon"></div>
                </div>
            </div>
            @*<div class="nav" id="navMenu">
                <a href="/#speakers" id="aSpeakers">Speakers <div class="arrow">></div></a>
                <a href="/sponsors">Sponsorship @*<div class="arrow">></div</a>
                <a class="disabled">Afterparty</a>
                <a href="/speakers">Contacts</a>
            </div> 
            <div class="buttons" id="navButtons">
                <a href="/sponsors" class="button_" id="navSponsor"><span>Become a sponsor</span> <div class="pic rhombus"></div></a>
                <a href="/#tickets" class="button_ a-ticket" id="navTicket"><span>Book a ticket</span> <div class="pic ticket"></div></a>
            </div> *@
        </div>
        <div class="content">@RenderBody()</div>
        <div class="last-block"></div>
    </div>

    <div class="footer">
        <div class="footer-content">

            <div class="footer_left">
                <div class="logo"><img src="/images/logo.webp" alt="" /></div>
            </div>

            <div class="footer_right">
                <div class="cap">Contact us:</div>
                <div class="desc">
                    <a href="/contacts" class="link-envelope"></a>
                    <a href="https://t.me/synopsis_summit_support_bot" target="_blank" class="link-chat"></a>
                    <a href="https://twitter.com/synopsisevents" target="_blank" class="link-twitter"></a>
                    <a href="https://t.me/synopsis_summit" target="_blank" class="link-telegram"></a>
                    <a href="https://www.instagram.com/synopsis_summit/" target="_blank" class="link-instagram"></a>

                </div>
            </div>

            <div class="footer_center">
                <div class="desc">
                    © 2023  <span>Colibri</span> <br />
                    <a href="/terms">Terms & Conditions</a>
                </div>
            </div>
        </div>
    </div>



    <script src="/lib/modernizr-2.8.3.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/lib/jquery.unobtrusive-ajax.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var is_show_menu = false;

        $('#bar').click(function() {

            if (!is_show_menu) {
                $('#navMenu').addClass('block-show');
                $('#navButtons').addClass('block-show');
                is_show_menu = true;
            }
            else {
                $('#navMenu').removeClass('block-show');
                $('#navButtons').removeClass('block-show');
                is_show_menu = false;
            }
        })
    </script>
</body>
</html>
