.header-content .header {
    padding: 0px;
    height: 60px;
    display: flex;
    width: 100%;
    background-color: #ffffffb8;
}
.ColibriLogo{
    display: flex;
    width: 100%;
}
.header-content .header .logo {
    display: flex;
    width: 100%;
}
.header-content .header .logo .desk {
    display: none;
}
.header-content .header .logo .mob {
    display: block;
    width: 50px;
}
.header-content .header .menu {
    display: block;
    height: 60px;
    width: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
.header-content .header .menu svg {
    width: 17px;
}
.header-content .header .nav {
    position: absolute;
    top: 60px;
    margin-left: 0px;
    display: none;
    background-color: rgba(255,255,255,0.9);
}
.header-content .header .nav a {
    font-size: 15px;
    font-weight: 400;
    margin-right: 0px;
    padding: 0px 18px;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    border-top: solid 1px #f2f6ff;
    box-sizing: border-box;
}
.main-top {
    height: 100vh;
    overflow: hidden;
}
.main-top .video-blob {
    width: 400%;
    max-width: none;
}
.main-top .title .caption h1 {
    font-size: 38px;
    color: #24cbff;
    -webkit-text-stroke: unset;
    -webkit-text-stroke-width: unset;
}
.block-def {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.block-def .def .title h2 {
    font-size: 32px;
    text-align: center;
}
.block-def .def .partners {
    width: 100%;
    padding-left: 2%;
    margin-top: 30px;
}
.block-def .def .partners .item {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.block-def .def .partners .item img {
    max-height: 35px;
    max-width: 120px;
}
.block-def .def .reviews {
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
.block-def .def .reviews .message {
    flex: unset;
    margin-right: 0px;
    margin-top: 40px;
}
.block-def .def .reviews .message .text {
    font-size: 16px;
    padding: 30px 30px;
    font-weight: 500;
}
.block-def .def .reviews .message:first-child {
    margin-top: 0px;
}
.block-def-2 {
    display: block;
}
.block-def-2 .def .title h2 {
    width: 100%;
    font-size: 32px;
}
.block-def-2 .def .title-2 h2 {
    font-size: 32px;
}
.block-def-2 .def .services {
    display: block;
}
.block-def-2 .def .services .service {
    width: 100%;
    margin-left: 0%;
    padding: 0px 20px;
}
.block-def-2 .def .services .service:nth-child(2n) {
    margin-right: 0%;
}
.block-def-2 .def .services .item {
    padding: 30px 30px;
}
.block-def-2 .def .services .item .caption {
    width: 100%;
}
.block-def-2 .def .services .item .caption h3 {
    font-size: 19px;
}
.block-def-2 .def .services .item .desc {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}
.block-def-2 .def .services .item .logos .logo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.block-def-2 .def .services .item .logos .logo img {
    max-height: 30px;
    max-width: 30px;
}
.block-def-2 .def .services .item .logos .logo-max img {
    max-width: 100%;
}
.block-def-2 .def .services .item .disclosure {
    margin-top: 10px;
}
.block-def-2 .def .partners {
    width: 100%;
    padding-left: 2%;
    margin-top: 30px;
}
.block-def-2 .def .partners .item {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 0px;
}
.block-def-2 .def .partners .item img {
    max-height: 35px;
    max-width: 120px;
}
.block-def-2 .def .contacts {
    width: 100%;
    font-size: 14px;
    flex-wrap: wrap;
    padding-left: 2%;
    margin-top: 30px;
}
.block-def-2 .def .contacts .item {
    width: 48%;
    height: 90px;
    margin-right: 2%;
    margin-bottom: 2%;
}
.block-def-2 .def .contacts .item .image svg {
    height: 30px;
}
.block-def-2 .def .contacts .item .contact {
    margin-top: 10px;
}
.last-cont {
    margin-bottom: 0px;
}
.bottom-cont {
    margin-top: 30px;
}
.bottom-cont .copy {
    font-size: 16px;
}
.bottom-cont .copy svg {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
/*дальше мои изменения */
.video-blob{
    width: 300%;
}
.reviews-carousel {
    width: 100%;
    overflow: hidden;
}
.contacts{
    display: flex;
    flex-direction: column;
}
.contactmargin{
    margin-bottom: 10px;
}
.swiper-button-next{
    margin-right: 830px;
}