@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Colibri Control Panel";
    Layout = "~/Views/Shared/_Manage.cshtml";
    Dictionary<string, dynamic> tableElem = Colibri.Utils.Select.GetStatisticsTable(Localizer);
}

<div class="block-content">

    <a href="@Url.ActionLink(action: "addStatistic", controller: "Manage")" class="add-button">add</a>

    @Html.Partial("/views/_shared/_table.cshtml", tableElem)
</div>

@section Scripts {
    <script>
        var t_delete = 'Delete';
        var t_restore = 'Restore';
    
        function updateEvent(id) {
            event.stopPropagation();
            console.log($('#status' + id).val());
            var cur_value = $('#status' + id).val();
            console.log(cur_value);
            console.log(Number(cur_value));
                $.ajax({
                  url: '@Url.ActionLink(controller: "Statistic", action: "UpdateVisibility")',
                  type: 'PUT',
                  data: "id=" + id + "&isShow=" + (Number(cur_value) === 0),
                  success: function() {
                      if (Number(cur_value) === 0){
                    $('#status' + id).attr("value", 1);
                    $('#item' + id).removeClass('tr-red');
                    $('#delete' + id).html(t_delete);
                    } else if(Number(cur_value) === 1) {
                       $('#status' + id).attr("value", 0);
                       $('#item' + id).addClass('tr-red');
                       $('#delete' + id).html(t_restore);
                    }
                  },
                  error: function (XMLHttpRequest, textStatus, errorThrown) {
                      alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                  }
                  });
        }
    </script>
}