@model List<Colibri.Models.Partners.Partner>
@{
    List<Colibri.Models.Partners.Partner> itemList = Model;
}

@if (true)
{
    foreach (Colibri.Models.Partners.Partner item in itemList)
    {
        <a class="partneritem" href="@item.Url" target="_blank">
            <img src="/images/partners/@item.Logo" alt="@item.Name" />
        </a>
    }
}
