@{
    List<Colibri.Models.Partners.Partner>? partnersPartnersList = ViewBag.Partners.Partners;
    List<Colibri.Models.Partners.Partner>? mediaPartnersList = ViewBag.Partners.MediaPartners;
    List<Colibri.Models.Partners.Partner>? ourProjectsList = ViewBag.Partners.OurProjects;
    List<Colibri.Models.Reviews.Review>? reviewsList = ViewBag.Reviews;
    List<Colibri.Models.TeamMembers.TeamMember>? teamMembersList = ViewBag.TeamMembers;
}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>


    <div class="main-top">
        <video autoplay="" muted="" loop="" class="video-blob" alt="liquid 3d animation transparent">
            <source type="video/mp4" src="~/images/header.mp4">
        </video>
        <div class="maintitle">
            <div class="caption">
                <h1>
                    International<br/>SMM & Marketing <br/>Agency
                </h1>
            </div>
        </div>
    </div>


<div class="block-def-2" id="Services">
<div class="def">
<div class="title">
    <h2>Services</h2>
</div>
<div class="services">
<div class="service">
<div class="item item-sepia">
    <div class="caption">
        <h3>
            Global & Local Events
            Organization
        </h3>
    </div>
    <div class="desc">
        <strong class="colibri"><span></span>Colibri Group</strong> organizes turnkey global and local events, including conferences, AMAs, contests, quizzes, etc. We host online events on all popular platforms.
    </div>

    <div class="logos hide" id="block1_0">
        <div class="logo">
            <img src="~/images/logos/youtube.png" alt="YouTube"/>
        </div>
        <div class="logo">
            <img src="~/images/logos/theta.png" alt="Theta.tv"/>
        </div>
        <div class="logo">
            <img src="~/images/logos/telegram.png" alt="Telegram"/>
        </div>
        <div class="logo">
            <img src="~/images/logos/twitter.png" alt="Twitter"/>
        </div>
    </div>
    <div class="desc hide" id="block1_1">
        <strong class="colibri"><span></span>Colibri Group</strong> is the organizer of the largest online cryptocurrency summit Synopsis 2021.
    </div>
    <div class="logos hide" id="block1_2">
        <div class="logo-max">
            <a href="https://synopsis2021.com" target="_blank">
                <img src="~/images/logos/synopsis.png" alt="Synopsis 2021"/>
            </a>

        </div>
    </div>
    <div class="desc hide" id="block1_3">
        The first part of Synopsis featured more than 40 speakers and attracted over 100,000 viewers on YouTube and Theta.tv. More than 600 media outlets wrote about the summit, including Bloomberg, Forbes, MarketWatch, and Yahoo Finance.
    </div>
    <div class="disclosure" onclick="show_block(1)">
        <div class="symb" id="symb1">
            &raquo;
        </div>
    </div>


</div>
<div class="item item-blue">

    <div class="caption">
        <h3>
            Management of Local Communities
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong class="colibri"><span></span>Colibri Group</strong> provides comprehensive community management and community building services from the ground up.
        </div>

        <div class="list hide" id="block6_0">
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Comprehensive local community management
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Promotion and branding at the local level
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Organization of public meetings and conducting AMAs
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Conducting contests, quizzes, surveys, and other online events
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Detailed progress reports with recommendations, comments, and feedback from the community
            </div>
        </div>
        <div class="text hide" id="block6_1">
            Ready-made solutions for quality community development and project promotion!
        </div>
        <div class="text">
            Supported countries: Russia, the CIS countries, Germany, Spain, the USA and all English-speaking countries, Korea, China, the Philippines, Vietnam, Sri Lanka, and Indonesia.
        </div>
    </div>
    <div class="disclosure disclosure-black" onclick="show_block(6)">
        <div class="symb" id="symb6">
            &raquo;
        </div>
    </div>
</div>
<div class="item">
    <div class="caption">
        <h3>
            Strategic & Management Consulting
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong class="colibri"><span></span>Colibri Group</strong> has been advising blockchain projects, cryptocurrency exchanges, and trading communities since 2018. <span id="block2_0" class="hide">Our experts are ready to be your consultants in the following:</span>
        </div>
        <div class="list hide" id="block2_1">
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Marketing and promotion
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Global and local brand positioning
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Interaction with communities
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Product-related issues
            </div>
        </div>
    </div>
    <div class="disclosure" onclick="show_block(2)">
        <div class="symb" id="symb2">
            &raquo;
        </div>
    </div>
</div>


<div class="item item-green">
    <div class="caption">
        <h3>
            Integration & Partner Engagement
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong class="colibri"><span></span>Colibri Group</strong> is a member of various lobbying groups, the Commission on Blockchain and Digital Economy, and the all-Russian public organization Investment Russia. It cooperates with various international legal partners and regularly holds public online summits involving industry experts and government representatives.
        </div>
        <div class="text">
            Take advantage of ample opportunities for maximum expansion in the markets of Russia, South Korea, China, and the USA.
        </div>
    </div>
</div>

<div class="item">
    <div class="caption">
        <h3>
            Auditing and In-depth Services for Blockchain Projects
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong class="colibri"><span></span>Colibri Group</strong> employs high-level professionals with established connections and knowledge of all aspects of procedures and business processes. <span id="block4_0" class="hide">We are ready to accompany you at all stages of the following services:</span>
        </div>
        <div class="list hide" id="block4_1">
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Blockchain project auditing
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Listing services
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Credit rating assessment
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Preparation of related documentation
            </div>
        </div>
        <div class="text hide" id="block4_2">
            <strong class="colibri"><span></span>Colibri Group</strong> is all blockchain consulting services in one place.
        </div>
    </div>

    <div class="disclosure" onclick="show_block(4)">
        <div class="symb" id="symb4">
            &raquo;
        </div>
    </div>
</div>
</div>

<div class="service">
<div class="item">
    <div class="caption">
        <h3>
            Auditing & Optimization of Community Management Systems
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong class="colibri"><span></span>Colibri Group</strong> provides comprehensive community management services to dozens of international cryptocurrency companies and blockchain projects. We are setting new quality standards by offering the best user experience and maximum user immersion in the product.
        </div>
        <div class="list hide" id="block5_0">
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Auditing of community management systems
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Development and optimization of quality standards for community management
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Automation of a number of community management processes
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Bot development and customization
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Organization of local and international events
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Work with partners and media partners
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Involvement of influencers and media partners
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Turnkey community management
            </div>
        </div>
    </div>

    <div class="disclosure disclosure-white" onclick="show_block(5)">
        <div class="symb" id="symb5">
            &raquo;
        </div>
    </div>
</div>
<div class="item item-purple-light">

    <div class="caption">
        <h3>
            NFT Creation & Promotion
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong>Colibri Group</strong> helps artists, designers, celebrities create and promote NFTs on popular marketplaces. You can focus on your creativity, and we take care of all the technical and marketing issues.
        </div>
        <div class="text">
            <strong>Colibri Group</strong> has successfully sold two NFT Drops on the Theta Drops platform. Both NFT Drops sold out in less than 2 minutes. <strong>The total cost of sales was $120,000</strong>.
        </div>
        <div class="images">
            <a href="https://synopsis.thetadrop.com/" target="_blank" class="image" style="background-image:url(/images/projects/synopsis_drop.jpg)">
            </a>
            <a href="https://synopsis.thetadrop.com/" target="_blank" class="image" style="background-image:url(/images/projects/synopsis_drop2.jpg)">
            </a>
        </div>
    </div>
</div>
<div class="item item-gray">
    <div class="caption">
        <h3>
            Interaction with the Media & Influencers
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong class="colibri"><span></span>Colibri Group</strong> is a developer of popular products for the global cryptocurrency community with over 500,000 visits per month. Some services have been in stable operation for more than 3 years, are the best in the field, and have earned recognition from the global community. Our experts communicate with opinion leaders, mainstream media, popular bloggers, owners of well-known crypto companies, and blockchain industry stars daily.
        </div>
        <div class="text hide" id="block3_0">
            Proven interaction & communication models:
        </div>
        <div class="list hide" id="block3_1">
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Our own world-renowned resources with a large community
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>A global database of media partners, bloggers, and influencers
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Strategic partnerships with analytics leaders such as Xangle, IntoTheBlock, etc.
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Development of custom marketing campaigns with industry-leading media outlets
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Effective promotion models
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>An extensive database of news resources for press release distribution, including Bloomberg, MarketWatch, Yahoo Finance, Asahi, etc.
            </div>
        </div>
    </div>
    <div class="disclosure" onclick="show_block(3)">
        <div class="symb" id="symb3">
            &raquo;
        </div>
    </div>
</div>
<div class="item item-blue">

    <div class="caption">
        <h3>
            Content Creation & Promotion
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong class="colibri"><span></span>Colibri Group</strong> will be happy to invite you to various shows, conferences, forums, video interviews, podcasts, and other events. Get quality content and promotion from professionals.
        </div>
        <div class="text">
            We set the stage for project news, organize the whole process, and put everything together into great content.

        </div>
    </div>
</div>

<div class="item item-sepia">
    <div class="caption">
        <h3>
            News & Events Distribution for Blockchain Projects
        </h3>
    </div>
    <div class="desc">
        <div class="text">
            <strong class="colibri"><span></span>Colibri Group</strong> provides event and press release distribution services on financial, business, and trading media.
        </div>
        <div class="list hide" id="block7_0">

            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>An extensive database of press release distribution resources in English, including Bloomberg, MarketWatch, Yahoo Finance, Asahi, etc.
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Press release distribution in China, including the top media outlets, such as China.com, Sohu, Sina, Toutiao, China Daily, Phoenix, and NetEase
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Press release distribution in Russian media, including bloggers, influencers, and themed Telegram channels in Russia and the CIS
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Press release distribution in leading blockchain and crypto media outlets worldwide
            </div>
            <div class="elem">
                <span class="check">
                    <span class="inner"></span>
                </span>Assistance in press release preparation and distribution organization
            </div>
        </div>
    </div>

    <div class="disclosure" onclick="show_block(7)">
        <div class="symb" id="symb7">
            &raquo;
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


    <div class="block-def" id="Clients">
        <div class="def">
            <div class="title">
                <h2 class="threeh2">Partners</h2>
            </div>
            <div class="partners">
                @Html.Partial("/views/home/_partnerList.cshtml", partnersPartnersList)
            </div>
        </div>
    </div>

    <div class="block-def" id="Projects">
        <div class="def">
            <div class="title">
                <h2 class="threeh2">Our Projects</h2>
            </div>
            <div class="partners">
                @Html.Partial("/views/home/_partnerList.cshtml", ourProjectsList)
            </div>
        </div>
    </div>

<style>

.swiper-slide .message {
      transform: scale(0.96); 
      margin-top: 20px;
      transition: transform .2s ease;
  }
  .swiper-slide-active .message {
        transform: scale(1.05);
        transition: transform .2s ease;
        margin-left: 5px;
        margin-right: 10px!important;
    }
    .swiper-slide-active .message .author .name{
    transform: scale(1);
    }
</style>

<div class="block-def-2" id="Reviews">
    <div class="def">
        <div class="title">
            <h2>Reviews</h2>
        </div>
        <div class="reviews-carousel">
            <div class="reviews">
                <div class="swiper">
                    <div class="swiper-wrapper">
                     @Html.Partial("/views/home/_reviewList.cshtml", reviewsList)
                    </div>
                <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="block-def" id="Contact">
    <div class="def">
        <div class="title title-2">
            <h2 class="threeh2">Contact Us</h2>
        </div>
        <div class="contacts">
            <a href="mailto:info@colibri-group.org" class="contactitem contactmargin   ">
                <div class="svgcontacts mailsvg">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16 svgcontacts" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
                    </svg>
                </div>
                <div class="contact">
                    info@colibri-group.org
                </div>
            </a>
            
            <a href="https://t.me/Nik_Mac" class="contactitem contactmargin">
                <div class="svgcontacts telegramsvg">
                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="telegram" class="svg-inline--fa fa-telegram fa-w-16 svgcontacts" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                        <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"></path>
                    </svg>
                </div>
                <div class="contact">
                    @@TheDartum
                </div>
            </a>

            <a href="https://t.me/Nik_Mac" class="contactitem contactmargin">
                <div class="svgcontacts telegramsvg">
                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="telegram" class="svg-inline--fa fa-telegram fa-w-16 svgcontacts" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                        <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"></path>
                    </svg>
                </div>
                <div class="contact">
                    @@Nik_Mac
                </div>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>
        const swiper = new Swiper('.swiper', {
          loop: true,
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 3,
          spaceBetween: 15,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
        var cur_block = -1;
        function show_block(id) {
            for (var i = 1; i <= 7; ++i) {
                var j = 0;
                while ($('#block' + i + '_' + j).length) {
                    $('#block' + i + '_' + j).removeClass('show');
                    $('#block' + i + '_' + j).addClass('hide');
                    ++j;
                }
            }

            if (cur_block != id) {
                var j = 0;
                while ($('#block' + id + '_' + j).length) {
                    $('#block' + id + '_' + j).addClass('show');
                    $('#block' + id + '_' + j).removeClass('hide');
                    ++j;
                }

                $('#symb' + id).addClass('symb-show');
                $('#symb' + id).removeClass('symb');
                cur_block = id;
            }
            else {
                $('#symb' + id).removeClass('symb-show');
                $('#symb' + id).addClass('symb');
                cur_block = -1;
            }
    
        }

        $('#aServices').click(function () {
            $("html, body").delay().animate({ scrollTop: $('#Services').offset().top }, 2000);
            return false;
        })

        $('#aClients').click(function () {
            $("html, body").delay().animate({ scrollTop: $('#Clients').offset().top }, 2000);
            return false;
        })

        $('#aProjects').click(function () {
            $("html, body").delay().animate({ scrollTop: $('#Projects').offset().top }, 2000);
            return false;
        })

        $('#aReviews').click(function () {
            $("html, body").delay().animate({ scrollTop: $('#Reviews').offset().top }, 2000);
            return false;
        })

        $('#aContact').click(function () {
            $("html, body").delay().animate({ scrollTop: $('#Contact').offset().top }, 2000);
            return false;
        })



    </script>

}